@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

html,body {
	height:100%;
	width:100%;
	margin:auto;
	background-image: linear-gradient(#000, #660066);
	display: flex;
	flex: 1;
}

body {
	display:inline-block;
	}

h2
{
	position: relative;
  background-image: -webkit-linear-gradient(#ccffff 46%, #ffffff 50%, #80bfff 58%,#404040 90%, #4d004d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:30px;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  line-height: 1;
}

h1
{
	position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 75px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.subtitle
{
	text-align: center;
}

.sub
{
	padding-left: 80px;
}